Package: gowebserver
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: debconf (>= 0.2.26)
Maintainer: Gopi G <gopichaithanya@hotmail.com>
Description: First Deb Package
 Installs Go Webserver
